.container {
    flex-direction: column;
    height: auto;
    padding: 1rem 0;
    margin-top: 1rem;
}

.container>* {
    margin: 0 1rem;
}

.container>img {
    width: 15px;
}

@media print {
    .container {
        margin-bottom: 100vh !important;
    }
}