.tagContainer {
    font-size: 13px;
    width: auto;
    padding: 0 0.5rem;
    margin-right: 1rem;
    background-color: var(--grey);
    border-radius: 0.15rem;
    transition: all ease-in-out 0.25s;
    color: var(--very-dark-grey);
}

.tagContainer>a {
    color: inherit;
}

.tagContainer:hover {
    opacity: 0.5;
}